.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  &_controls {
    display: flex;
  }

  &_header {
    font-weight: bold;
    background: rgba(#cccccc, 0.25);
    border: 1px solid #cccccc;
  }
}

.calendar .day {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eeeeee;
}
